In [1]:
# Import our libraries
import pandas as pd
import numpy as np

### Timestamp

In [2]:
# Pandas has four main time related classes. Timestamp, DatetimeIndex, Period, and PeriodIndex. First, let's look at timestamp
# It represents a single timestamp and associates values with points in time.

# For exmaple, let's create a timestamp using a string 9/1/2019 10:05 AM, and here we have our time stamp
pd.Timestamp('9/1/2019 10:05 AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
# Timestamps have useful attributes like isoweekday(). which shows the weekday of the timestamp and note that 1 represents monday and 7 is sunday
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [4]:
# You can extract the specific year, month, day, hour, minute and second
pd.Timestamp(2019,12,20,4,2,23).second

23

### Period

In [5]:
# Say we weren;'t interested in a specific point in time and sinteasd wanted a span of time.
# This is where the period class comes into play. Period represents a single time span, such as a specific day or month.

# Here we are creating a period that is January 2016
pd.Period('1/2016')

Period('2016-01', 'M')

In [6]:
# M for month. Another example
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [7]:
# Period objects represent the full timespan that you specify. Arithmetic on period is every easy and intuitive. For instance, if we want to find out 5 months after Januar 2016, we simply plus 5
pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [8]:
# To find 2 days before Marth 5th 2016
pd.Period('03/05/2016') - 2

Period('2016-03-03', 'D')

### DatetimeIndex and PeriodIndex

In [9]:
# The index of a timestamp is DatetimeIndex.Timestamp of Sept 1st, 2nd and 3rd of 2016. Timestamp is the index and has a value associated with it, in this case, a ,b and c
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [13]:
# Looking at the type of our series index, we see that it's DatetimeIndex
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [15]:
# We can also create a period-based index as well
t2 = pd.Series(list('def'), [pd.Timestamp('2016-09'), pd.Timestamp('2016-10'), pd.Timestamp('2016-11')])
print(t2)

print(type(t2.index))

2016-09-01    d
2016-10-01    e
2016-11-01    f
dtype: object
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

### Converting to Datetime

In [19]:
d1 = ['2 June 2013', 'Aug 29 2014', '2015-6-26' , '7/12/16']

# Random data
ts3 = pd.DataFrame(np.random.randint(10,100, (4,2)), index = d1, columns = list('ab'))
ts3

              a   b
2 June 2013  74  40
Aug 29 2014  47  21
2015-6-26    52  56
7/12/16      15  96

In [20]:
# Using the pandas to_datetime attribute, pandas will try to convert these to datetime and put them in a standard format.

ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  74  40
2014-08-29  47  21
2015-06-26  52  56
2016-07-12  15  96

In [21]:
# to_datetime also() has options to change the date parse order. For example , we can pass in the argument dayfirst = True for European date.
pd.to_datetime('4.7.12', dayfirst= True)

Timestamp('2012-07-04 00:00:00')

### Timedelta

In [22]:
# Subtract two timestamps
pd.Timestamp('9/3/2016') - pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [23]:
# We can also find what the date and time is for 12 days and three hours past September 2nd at 8:10 AM
pd.Timestamp('9/2/2016 8:10 AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### Offset

In [24]:
# Offset is similar to timedelta, but it follows specific calendar duration rules. Offset allows flexibility in terms of types of time intervals.
# Besides hour, day, week, month, etc it also has business day, end of month, semi month begin etc.

pd.Timestamp('9/4/2016').weekday()

6

In [25]:
# Nowe we can add the timestmap with a week ahead
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [26]:
# Month end. Last day of september
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

### Working with a DataFrame

In [34]:
# Suppose we want to look at nine measurements, taken bi-weekly, every Sunday, starting in October 2016.
# Using date_range we can create this DatetimeIndex. In date_range, we have to either specify the start or end date. 
# If it is not explicitly specificied by default, the date is considered the start date. Then we have to specify number of periods, and a frequency.
# Here, we set it to '2W-SUN', which means biweekly on Sunday

dates = pd.date_range('10-01-2016', periods = 9, freq='2W-SUN')

dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [37]:
# Example, business day
pd.date_range('10-01-2016', periods = 9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [39]:
# Or quarterly, with the quarter starts in June
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [42]:
# Another example
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5,10,9).cumsum(),
                   'Count 2': 120 + np.random.randint(-5,10,9)}, index=dates)
df

            Count 1  Count 2
2016-10-02       97      124
2016-10-16       92      127
2016-10-30       94      124
2016-11-13       92      126
2016-11-27       91      121
2016-12-11       95      118
2016-12-25      101      126
2017-01-08      107      129
2017-01-22      110      116

In [49]:
# We can check what day of the week a specific date is. For example, here we can see that all the dates in our index are on a Sunday. 
# Which matches the frequencey that we set
df.index.day_name()

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [50]:
# We can also use diff9) to find the difference between each date's value
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -5.0      3.0
2016-10-30      2.0     -3.0
2016-11-13     -2.0      2.0
2016-11-27     -1.0     -5.0
2016-12-11      4.0     -3.0
2016-12-25      6.0      8.0
2017-01-08      6.0      3.0
2017-01-22      3.0    -13.0

In [51]:
# Suppose we want to know what thee mean count is for each month in our DataFrame, We can do this using resample.
# Converting from a higher frequency from a lower frequency is called downsampling 
df.resample('M').mean()

               Count 1  Count 2
2016-10-31   94.333333    125.0
2016-11-30   91.500000    123.5
2016-12-31   98.000000    122.0
2017-01-31  108.500000    122.5

### Indexing and Slicing

In [52]:
df['2017']

C:\Users\David\AppData\Local\Temp\ipykernel_2276\1797912031.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2017']

            Count 1  Count 2
2017-01-08      107      129
2017-01-22      110      116

In [53]:
df['2016-12']

C:\Users\David\AppData\Local\Temp\ipykernel_2276\2391205231.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2016-12']

            Count 1  Count 2
2016-12-11       95      118
2016-12-25      101      126

In [54]:
# Slice on a range of dates
df['2016-12':]

            Count 1  Count 2
2016-12-11       95      118
2016-12-25      101      126
2017-01-08      107      129
2017-01-22      110      116